body {
  background-color: black;
}

h1,h2 {
  color: white;
  text-align: center;
  font-family:small-caps;
}

p {
  font-family: monospace;
  font-size: 20px;
  color: white;
  text-align: center;
}
